body {
  background-image: url("bg.png");
  background-color: #c7eae9;
}

.header-bar {
}

.holder {
/*  width: 75%;
  margin: auto; */
}
.header-bar h1 {
  font-family: 'Pacifico', cursive;
}
.header-bar h4 , main>h2
{
  font-family: 'Gamja Flower', cursive;
}
