<!--
This website was created by Jeff Trent, 2017-18. Everything I created can have that MIT license, I guess, it seems pretty cool. If there is anything I didn't make then the owners own it and license it. Obviously.

Here's a train. Choo choo!

                                                        \  /
                  __                                     \/
     _   ---===##===---_________________________--------------  _
    [ ~~~=================###=###=###=###=###=================~~ ]
    /  ||  | |~\  ;;;;     PKP    ;;;  ET22-689  ;;;;  /~| |  ||  \
   /___||__| |  \ ;;;;            [_]            ;;;; /  | |__||___\
   [\        |__| ;;;;  ;;;; ;;;; ;;; ;;;; ;;;;  ;;;; |__|        /]
  (=|    ____[-]_______________________________________[-]____Kraq|=)
  /  /___/|#(__)=o########o=(__)#||___|#(__)=o#########o=(__)#|\___\
 _________-=\__/=--=\__/=--=\__/=-_____-=\__/=--=\__/=--=\__/=-______


-->

<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href={{"/img/icon/jt-64.png" | absolute_url }}>
    <link rel="stylesheet" href={{ "/css/w3.css"| absolute_url }}>
    <link rel="stylesheet" href={{ "/css/tjt.css"| absolute_url }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower|Pacifico" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src={{ "/js/tjt.js"| absolute_url }}></script>
  </head>
  <body class="w3-theme-light">
    <!--
    Navigation
    -->
      <nav id="nav-bar" class="w3-sidebar w3-theme-dark w3-bar-block w3-card-2 w3-animate-left" style="display:none">
        <button id="close-nav" class="fa fa-close w3-button w3-right-align w3-right w3-xxlarge"></button>
        <a href="https://www.thejefftrent.com" class="w3-bar-item w3-button">Home</a>
                <a href={{ "resume.html"| absolute_url }} class="w3-bar-item w3-button">Resume</a>
        <a href="https://github.com/thejefftrent" class="w3-bar-item w3-button">My Github(leaves site)</a>
        <a href="https://snowc.app" class="w3-bar-item w3-button">SnowCapp(leaves site)</a>
          <a href="https://snowcapp.itch.io/" class="w3-bar-item w3-button">My itch.io(leaves site)</a>
        <!-- <a href={{ "/blog"| absolute_url }} class="w3-bar-item w3-button">Blog</a> -->


        <!-- <a href={{ "about.html"| absolute_url }} class="w3-bar-item w3-button">About Me</a>

        <a href={{ "projects.html"| absolute_url }} class="w3-bar-item w3-button">Example Project</a>
        <a href={{ "projects.html"| absolute_url }} class="w3-bar-item w3-button">Other Projects</a> -->

      </nav>
      <!--
      Site and page header
      -->
      <header class="w3-container w3-theme-d4 w3-center header-bar">
        <button id="open-nav" class="fa fa-bars w3-xxlarge w3-left w3-button w3-row"></button>
        <div class="w3-row w3-padding-16">
          <h1>thejefftrent.com</h1>
          <h4>a website about Jeff Trent</h4>
        </div>
      </header>

      <main class="w3-container w3-theme-l2 w3-center">
        <h2>{{ page.title }}</h2>
      </main>
      <!--
      Page Contents
      -->
      <div id="main" class="container main">
        {{ content }}
      </div>
      <!--
      Footer
      -->
      <footer class="w3-container w3-theme-d4 w3-padding-16 w3-center w3-text-theme">
        <span>Website is hosted on GitHub using <a href="https://pages.github.com/">GitHub Pages</a> and <a href="https://jekyllrb.com/">Jekyll</a>. Made by Jeff Trent. Last updated {{ page.date }}.</span>
        <br>
        <span class="random-footer-text"></span>
      </footer>
    </div>

    <script>
    </script>
  </body>
</html>
